<h3 class="user-favorites-headline">いいね一覧</h3>
<div class="">
  <% @favorite_coffees.each do |favorite_coffees| %>
    <%= render "public/coffees/coffee", coffee: favorite_coffees %>
  <% end %>
</div>