<h1>投稿詳細</h1>
  <div class="text-right">
    <%= link_to "削除", admin_coffee_path(@coffee), class: "btn btn-danger", data: { confirm: "この投稿を削除します、よろしいですか？" }, method: :delete %>
  </div>

<%= render "admin/coffees/coffee", coffee: @coffee %>

<div class="comments-area">
  <%= render "admin/coffee_comments/comment", comments: @comments %>
</div>