  <div class="about text-light text-center d-flex flex-column justify-content-center" style='min-height: calc(100vh - 132px);'>
    <div class="back">
      <div class="p-5">
        <h1>CoffeeTimeはコーヒーをメインとしたSNSです。</h1>
      </div>
      <div class="about-content">
        <div class="about-coffee-post p-3">
          <h4>投稿しよう</h4>
          <p>朝のコーヒータイム、お昼のブレイクタイム、コーヒーをお供に過ごすの時間を共有しよう。</p>
        </div>
        <div class="about-coffee-comment p-3">
          <h4>コメントしてみよう</h4>
          <p>こだわりの淹れ方やコーヒー器具について質問して話し合ってみましょう。</p>
        </div>
        <div class="about-coffeetime p-5">
          <h3>コーヒーを味わい、語り合ってCoffeeTimeを過ごしましょう。</h3>
        </div>
      </div>
    </div>
  </div>