<div class="row">
  <div class="about">
    <h1>CoffeeTimeはコーヒーをメインとしたSNSです。</h1>
    <div class="about-content">
      <h4>投稿しよう</h4>
      <p>朝のコーヒータイム、お昼のブレイクタイム、コーヒーをお供に過ごすの時間を共有しよう。</p>
      <h4>コメントしてみよう</h4>
      <p>こだわりの淹れ方やコーヒー器具について質問して話し合ってみましょう。</p>
      <h3>コーヒーを味わい、語り合ってCoffeeTimeを過ごしましょう。</h3>
    </div>
  </div>
</div>