<h3 class="admin-user-index-headline">ユーザー一覧</h3>
<% @end_users.each do |end_user| %>
    <div class="mb-2 border rounded shadow" style="background-color: #fffcf0;">
      <div class="p-2 text-bottom" style="font-size: 20px;">
        <%= link_to admin_end_user_path(end_user) do %>
          <%= image_tag end_user.get_profile_image(60,60), class: "rounded-circle" %>
          <%= end_user.name %>
        <% end %>
      </div>
    </div>
  <% end %>