<h3 class="coffee-index-headline">投稿一覧</h3>
<div class="test">
  <% @coffees.each do |coffee| %>
    <%= render "public/coffees/coffee", coffee: coffee %>
  <% end %>
  <%= paginate @coffees %>
</div>