<h3 class="time-line-headline">タイムライン</h3>
<div class="">
  <% @coffees_all.each do |coffee| %>
    <%= render "public/coffees/coffee", coffee: coffee %>
  <% end %>
  <%= paginate @coffees_all %>
</div>